body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

label {
    margin-right: 10px;
}

input[type="text"] {
    margin-right: 10px;
}

#results {
    margin-top: 20px;
    color: red; 
}

header, footer {
    background-color: #f3f3f3;
    padding: 10px;
    text-align: center;
}
#fundraisers {
    margin: 20px;
    padding: 20px;
    background-color: #e9ecef;
}
.fundraiser {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
}